<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Janet 编程语言</title>
    <meta name="description" content="Janet 是一种函数式和命令式编程语言。它可在 Windows、Linux、macOS 上运行，并可通过移植在其他系统上运行。整个语言（核心库、解释器、编译器、汇编器）不到 1MB，同时提供了非常丰富的语言特性，可在许多受限系统上运行。">
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/landing.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis|Inconsolata|Open+Sans">
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <link rel="canonical" href="https://janet-lang.org">

    <!-- Open Graph -->
    <meta property="og:description" content="Janet 是一种函数式和命令式编程语言。它可在 Windows、Linux、macOS、FreeBSD 及 *nix 系统上运行。" />
    <meta property="og:title" content="Janet 编程语言" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://janet-lang.org/" />
    <meta property="og:image" content="https://janet-lang.org/assets/janet-no-bg.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />

  </head>
  <body>

    {{ {:template (require "ribbon.html")} }}

    <div class="top">
      <div class="content-wrapper">
        <h1 class="title">Janet 语言</h1>

        <div class="block">
          <img id="logo" src="assets/janet-big.png" alt="janet-logo">
          <p>
            Janet 是一种函数式和命令式编程语言。它可在 Windows、Linux、
            macOS、BSD 上运行，并可通过移植在其他系统上运行。整个语言（核心库、
            解释器、编译器、汇编器、PEG）不到 1MB。你还可以通过嵌入单个 C 源文件和单个头文件，
            将 Janet 脚本能力添加到应用程序中。
          </p>
        </div>
      </div>
      <div class="carousel">
        <a href="https://github.com/janet-lang/janet/releases">下载</a>
        <a href="https://github.com/janet-lang/janet">源码</a>
        <a href="docs/index.html">文档</a>
        <a href="api/index.html">核心 API</a>
        <a href="https://janet.zulipchat.com/">论坛</a>
      </div>
    </div>
    <div class="top-under"></div>
    <div class="content-wrapper">

      {{ content }}

    </div>

    {{ {:template (require "footer.html")} }}

    <!-- Set up emscripten runtime -->
    <script type="text/javascript" src="js/ansi_up.js"></script>
    <script type='text/javascript' src="js/repl.js"></script>

    <!-- Load and start running janet -->
    <script async type="text/javascript" src="js/janet.js"></script>

  </body>
</html>
